# !! THIS FILE IS A TEMPLATE FOR WHICH ENV VARS ARE USED
# !! VALUES IN THIS FILE SHOULD NOT BE EDITED
# !! THIS FILE WILL BE COMMITED!

TOKEN=                  # The Discord bot token to login with (REQUIRED)
DATABASE_URL=""         # The URL of the Postgres server to use as database (REQUIRED)
CLIENT_ID=              # The bot user ID for slash command deployment (REQUIRED)
GUILD_ID=               # The server ID to deploy commands to (Recommended for quick deployment)
OWNER_ID=               # The ID of the bot owner (Not required)
COOLDOWN_TIME=2000      # Cooldown time in ms (set to 0 to disable)
